@use "../utilities" as *;

/**----------------------------------------
    START: About CSS
----------------------------------------*/

.about-1{
    padding-bottom: 75px;
    @include breakpoint(lg){
        padding-bottom: 150px;
    }
    @include breakpoint(md){
        padding-bottom: 70px;
    }
}

.about-left-content{
    @include breakpoint(md){
        margin-bottom: 40px;
    }
    .section-heading{
        margin-bottom: 70px;
        @include breakpoint(sm){
            margin-bottom: 30px;
        }
    }
    .about-left-counter{
        @include flex-vertical-center;
        align-items: end;
        column-gap: 30px;
        .title{
            font-family: var(--cp-ff-body);
            font-size: 288px;
            line-height: 1;
            font-weight: 400;
            @include breakpoint(lg){
                font-size: 200px;
            }
            @include breakpoint(sm){
                font-size: 70px;
            }
            .odometer-auto-theme{
                font-family: inherit;
                line-height: 1;
            }
        }
        p{
            font-family: var(--cp-ff-body);
            color: #C5C5C7;
            font-size: 28px;
            font-weight: 400;
            line-height: 1.3;
            transform: translateY(-60px);
            @include breakpoint(sm){
                font-size: 22px;
                transform: translateY(0);
            }
        }
    }
}

.about-right-content{
    .about-img-1{
        border-radius: 8px;
        .img-overlay{
            background-color: var(--cp-color-bg-1);
        }
        img{
            height: 350px;
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }
    p{
        font-family: var(--cp-ff-body);
        font-size: 24px;
        line-height: 1.4;
        color: #C5C5C7;
        margin: 55px 0 45px 0;
    }
    .cp-primary-btn{
        &:before{
            background-color: var(--cp-color-common-white);
        }
        &:hover{
            color: var(--cp-color-heading-primary);
        }
    }
}


// About 2

.about-img-2{
    height: 400px;
    max-width: 796px;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-wrap-2{
    display: grid;
    grid-template-columns: 796px 1fr;
    grid-gap: 100px;
    @include breakpoint(lg){
        grid-template-columns: 500px 1fr;
    }
    @include breakpoint(md){
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
    .about-content-2{
        .about-client-wrap{
            max-width: 450px;
            width: 100%;
            margin-bottom: 35px;
            padding-bottom: 35px;
            border-bottom: 1px solid rgba(0, 64, 55, 0.1);
            .about-author-list{
                @include flex-vertical-center;
                li{
                    height: 56px;
                    width: 56px;
                    @include flex-center;
                    border-radius: 50%;
                    border: 3px solid var(--cp-color-common-white);
                    &:not(:first-of-type){
                        margin-left: -20px;
                    }
                    &.icon{
                        background-color: var(--cp-color-theme-primary);
                        color: var(--cp-color-text-black);
                    }
                }
            }
            .desc{
                font-family: var(--cp-ff-heading);
                color: var(--cp-color-heading-primary);
                font-size: 18px;
                font-weight: 600;
                text-align: left;
            }
        }
        .about-desc{
            color: var(--cp-color-text-body);
            font-size: 24px;
            font-weight: 500;
            line-height: 1.4;
            margin-bottom: 40px;
        }
    }
}


// About 3

.section-heading{
    &.about-heading{
        .sub-heading{
            line-height: 1.5;
        }
    }
}

.about-right-content-3{
    margin-top: -15px;
    p{
        font-size: 24px;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 40px;
    }
}

.about-counter-3{
    background-color: var(--cp-color-bg-1);
    width: 100%;
    padding: 48px;
    display: inline-block;
    .counter-title{
        font-family: var(--cp-ff-heading);
        color: var(--cp-color-common-white);
        font-size: 84px;
        font-weight: 500;
        line-height: 1;
        @include flex-vertical-center;
        @include breakpoint(sm){
            font-size: 60px;
        }
        .odometer-auto-theme{
            line-height: 1;
            font-family: inherit;
        }
    }
    p{
        font-size: 24px;
        font-weight: 500;
        color: var(--cp-color-common-white);
        margin-bottom: 0;
    }
    .bottom-content{
        margin-top: 120px;
        @include breakpoint(md){
            margin-top: 60px;
        }
        p{
            line-height: 1.3;
        }
    }
}

.about-img-3{
    height: 440px;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// About Inner

.about-right-content-4{
    p{
        color: var(--cp-color-text-body);
    }
}

.about-left-content{
    .about-left-counter-2{
        p{
            color: var(--cp-color-text-body);
        }
    }
}

.about-inner-content{
    .cp-primary-btn{
        &:before{
            background-color: var(--cp-color-heading-primary);
        }
        &:hover{
            color: var(--cp-color-common-white);
        }
    }
}


// Sponsor

.sponsor-area{
    padding: 80px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.sponsor-title{
    color: #C5C5C7;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 0;
    @include breakpoint(md){
        margin-bottom: 30px;
    }
}

.sponsor-area-2{
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    .sponsor-wrap-3{
        padding-top: 70px;
        border-top: 1px solid #C5C5C7;
        margin: 0;
    }
    .sponsor-title{
        color: var(--cp-color-heading-primary);
    }
}

.sponsor-area-3{
    padding-bottom: 80px;
}

.sponsor-wrap-4{
    border-top: none;
    border-bottom: 1px solid #C5C5C7;
}

/* !END: About CSS */
