@use "../utilities" as *;

/**----------------------------------------
START: Blog Details CSS
----------------------------------------*/

.blog-details-img{
    width: 100%;
    height: 500px;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
    @include breakpoint(md){
        height: 400px;
    }
    @include breakpoint(sm){
        height: 300px;
    }
}

.blog-details-meta{
    margin-bottom: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #D9D9D9;
    li{
        font-family: "DM Sans", sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 1;
        &:nth-child(1){
            border-right: 1px solid var(--cp-color-text-body);
            padding-right: 15px;
        }
    }
}

.blog-details-content{
    @include breakpoint(md){
        margin-bottom: 40px;
    }
    p{
        color: var(--cp-color-text-body);
        font-size: 18px;
    }
    .details-title{
        font-size: 48px;
        font-weight: 500;
        @include breakpoint(md){
            font-size: 30px;
        }
    }
    .details-title-2{
        font-size: 36px;
        font-weight: 500;
        @include breakpoint(md){
            font-size: 30px;
        }
    }
    .details-img-wrap{
        @include flex-vertical-center;
        justify-content: space-between;
        column-gap: 24px;
        width: 100%;
        max-width: 910px;
        overflow: hidden;
        img{
            height: 300px;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
        @include breakpoint(lg){
            flex-wrap: wrap;
            row-gap: 24px;
        }
    }
}

// Blockquote

blockquote{
    background-color: #F8F5F3;
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 40px;
    grid-gap: 30px;
    border-radius: 16px;
    @include breakpoint(sm){
        grid-template-columns: 1fr;
    }
    .icon{
        margin-top: 10px;
    }
    .content{
        p{
            font-family: var(--cp-ff-heading);
            color: var(--cp-color-heading-primary);
            font-size: 24px;
            font-weight: 500;
            line-height: 1.3;
            margin-bottom: 20px;
            @include breakpoint(sm){
                font-size: 20px;
                margin-bottom: 30px;
            }
        }
        .author{
            color: var(--cp-color-heading-primary);
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 0;
            position: relative;
            padding-left: 50px;
            line-height: 1;
            &:before{
                background-color: var(--cp-color-heading-primary);
                content: "";
                width: 30px;
                height: 2px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
}

.blog-tags{
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 70px;
    border-bottom: 1px solid #c5c5c5;
    @include flex-vertical-center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;
    .tag-left{
        .tag-title{
            font-family: var(--cp-ff-heading);
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 15px;
            display: block;
        }
        .tag-list{
            @include flex-vertical-center;
            column-gap: 15px;
            list-style: none;
            flex-wrap: wrap;
            row-gap: 15px;
            li{
                a{
                    background-color: var(--cp-color-common-white);
                    font-family: var(--cp-ff-heading);
                    display: block;
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: capitalize;
                    color: var(--cp-color-heading-primary);
                    padding: 4.83px 20px;
                    border: 1px solid #C5C5C7;
                    border-radius: 100px;
                    &:hover{
                        background-color: var(--cp-color-heading-primary);
                        color: var(--cp-color-common-white);
                        border: 1px solid var(--cp-color-heading-primary);
                    }
                }
            }
        }
    }
    .social-list-wrap{
        .follow{
            font-family: var(--cp-ff-heading);
            font-size: 20px;
            font-weight: 600;
            display: block;
            margin-bottom: 15px;
        }
        .social-list{
            li{
                display: inline-flex;
                &:not(:last-of-type){
                    margin-right: 5px;
                }
                a{
                    color: var(--cp-color-heading-primary);
                    font-size: 14px;
                    height: 36px;
                    width: 36px;
                    @include flex-center;
                    border-radius: 50%;
                    border: 1px solid #D9E4E3;
                    &:hover{
                        background-color: var(--cp-color-theme-primary);
                        color: var(--cp-color-heading-primary);
                        border-color: var(--cp-color-theme-primary);
                    }
                }
            }
        }
    }
}

.comments-area{
    .section-heading{
        margin-bottom: 40px;
        .section-title{
            font-size: 28px;
        }
    }
}

.comment-item{
    position: relative;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-gap: 25px;
    @include breakpoint(sm){
        grid-template-columns: 1fr;
    }
    .comment-top{
        @include flex-vertical-center;
        column-gap: 30px;
    }
    .reply{
        font-family: var(--cp-ff-heading);
        color: var(--cp-color-heading-primary);
        font-size: 16px;
        @include flex-vertical-center;
        margin-top: 15px;
        font-style: italic;
        font-weight: 700;
        column-gap: 10px;
        @include transition(all 0.3s ease-in-out);
        &:hover{
            color: var(--cp-color-bg-1);
        }
    }
    .comment-thumb{
        img{
            height: 60px;
            width: 60px;
            object-fit: cover;
            object-position: top;
        }
    }
    .comment-info{
        .comments-meta{
            margin-bottom: 10px;
            span{
                font-family: var(--cp-ff-heading);
                @include flex-vertical-center;
                column-gap: 10px;
                color: var(--cp-color-heading-primary);
                font-size: 14px;
                font-weight: 600;
            }
        }
        .author{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        p{
            color: var(--cp-color-text-body);
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    &.item-2{
        padding-left: 84px;
        @include breakpoint(sm){
            padding-left: 0;
        }
    }
    &:not(:last-of-type){
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #c5c5c5;
    }
}

// Blog Form

.blog-contact-form{
    .title{
        font-size: 28px;
        font-weight: 500;
    }
    p{
        margin-bottom: 30px;
    }
    .request-form{
        .form-item{
            position: relative;
            .form-control{
                background-color: var(--cp-color-common-white);
                color: var(--cp-color-text-body);
                font-size: 16px;
                font-weight: 400;
                box-shadow: none;
                border: none;
                padding: 16.5px 55px 16.5px 20px;
                border-radius: 6px;
                margin-bottom: 25px;
                width: 100%;    
                border: 1px solid #C5C5C7;
                @include tp-placeholder{
                    color: var(--cp-color-text-body);
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            .icon{
                color: var(--cp-color-theme-primary);
                position: absolute;
                top: 50%;
                right: 30px;
                transform: translateY(-50%);
            }
            &.message-item{
                .icon{
                    top: 25px;
                }
            }
        }
    }
}

.sidebar-widget{
    background-color: var(--cp-color-grey-1);
    padding: 30px;
    border-radius: 12px;
    &:not(:last-of-type){
        margin-bottom: 24px;
    }
    @include breakpoint(lg){
        padding: 30px 20px;
    }
    .search-form{
        position: relative;
        .form-control{
            background-color: var(--cp-color-common-white);
            color: var(--cp-color-text-body);
            font-size: 16px;
            border: none;
            border-radius: 8px;
            box-shadow: none;
            padding: 15.2px 0;
            padding-left: 25px;
            padding-right: 60px;
            overflow: hidden;
            border: 1px solid #C5C5C7;
            @include tp-placeholder{
                color: var(--cp-color-text-body);
                font-size: 16px;
            }
        }
        .search-btn{
            background-color: var(--cp-color-theme-primary);
            color: var(--cp-color-text-black);
            font-size: 17px;
            height: 100%;
            width: 56px;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            border-radius: 8px;
        }
    }
    .widget-title{
        font-size: 24px;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 25px;
    }
    .category-list{
        list-style: none;
        li{
            &:not(:last-of-type){
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid rgba(0, 64, 55, 0.1);
            }
            a{
                background-color: transparent;
                color: var(--cp-color-text-body);
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 18px;
                font-weight: 500;
                overflow: hidden;
                i{
                    color: var(--cp-color-text-body);
                }
                &:hover{
                    color: var(--cp-color-heading-primary);
                    i{
                        color: var(--cp-color-heading-primary);
                    }
                }
            }
        }
    }
    .blog-gallery-wrap{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        @include breakpoint(xl){
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
        @include breakpoint(md){
            display: flex;
            align-items: center;
            column-gap: 10px;
            row-gap: 10px;
            flex-wrap: wrap;
        }
        .gallary-img{
            height: 100px;
            width: 100px;
        }
    }
    .tags{
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        row-gap: 20px;
        list-style: none;
        column-gap: 0;
        margin: 0;
        li{
            &:not(:last-of-type){
                margin-right: 10px;
            }
            a{
                background-color: var(--cp-color-common-white);
                color: var(--cp-color-heading-primary);
                font-family: var(--cp-ff-heading);
                font-size: 14px;
                font-weight: 500;
                padding: 8.2px 20px;
                border-radius: 100px;
                border: 1px solid #C5C5C7;
                &:hover{
                    background-color: var(--cp-color-bg-1);
                    color: var(--cp-color-common-white);
                    border-color: var(--cp-color-bg-1);
                }
            }
        }
    }
    .sidebar-post{
        &:not(:last-of-type){
            margin-bottom: 40px;
        }
        overflow: hidden;
        img{
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
        .post-content{
            margin-top: 20px;
            .post-meta{
                @include flex-vertical-center;
                column-gap: 20px;
                flex-wrap: wrap;
                row-gap: 5px;
                margin-top: 0;
                li{
                    font-family: var(--cp-ff-heading);
                    color: var(--cp-color-text-body);
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: capitalize;
                }
            }
            .title{
                color: var(--cp-color-heading-primary);
                font-size: 20px;
                margin-bottom: 15px;
                font-weight: 600;
                text-transform: capitalize;
                line-height: 1.5;
                @include breakpoint(sm){
                    font-size: 16px;
                }
                a{
                    &:hover{
                        color: var(--cp-color-theme-primary);
                    }
                }
            }
        }
    }
}

/* !END: Theme Blog Details CSS */
