@use "../utilities" as *;

/**----------------------------------------
    START: Counter CSS
----------------------------------------*/

.counter-left-content{
    @include breakpoint(md){
        margin-bottom: 40px;
    }
    p{
        color: #C5C5C7;
        max-width: 550px;
        width: 100%;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.4;
    }
    .counter-btn{
        .cp-primary-btn{
            &:before{
                background-color: var(--cp-color-common-white);
            }
            &:hover{
                color: var(--cp-color-heading-primary);
            }
        }
    }
}

.counter-item-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 648px;
    width: 100%;
    @include breakpoint(sm){
        grid-template-columns: 1fr;
        grid-gap: 30px
    }
    .counter-item{
        @include flex-center;
        flex-direction: column;
        .counter-img{
            height: 250px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .title{
            font-size: 80px;
            font-family: var(--cp-ff-body);
            font-weight: 600;
            @include flex-vertical-center;
            line-height: 1;
            .odometer-auto-theme{
                line-height: 1;
                font-family: inherit;
            }
        }
        p{
            font-size: 20px;
            font-weight: 500;
        }
    }
}


// Counter 2

.counter-section-2{
    padding-top: 110px;
    overflow: hidden;
    @include breakpoint(md){
        padding-top: 40px;
    }
    &.counter-1{
        background-color: var(--cp-color-theme-primary);
    }
}

.counter-big-text{
    max-width: 1750px;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    transform: translateX(50px);
    margin-bottom: 100px;
    @include breakpoint(md){
        margin-bottom: 30px;
    }
    span{
        font-family: var(--cp-ff-heading);
        background: url(../img/images/hero-img-1.png);
        background-size: contain;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: 800;
        font-size: 320px;
        display: block;
        line-height: 1;
        text-transform: uppercase;
        transform: translateX(50px);
        @include breakpoint(xxxl){
            font-size: 250px;
        }
        @include breakpoint(xl){
            font-size: 200px;
        }
        @include breakpoint(lg){
            font-size: 150px;
        }
        @include breakpoint(md){
            font-size: 100px;
            transform: translateX(70px);
        }
        @include breakpoint(sm){
            font-size: 50px;
            transform: translateX(-10px);
        }
    }
}

.counter-wrap-2{
    &>div{
        &:not(:last-of-type){
            border-right: 1px solid var(--cp-color-heading-primary);
            @include breakpoint(md){
                border: none;
            }
        }
    }
}


.counter-wrap-inner{
    &>div{
        &:not(:last-of-type){
            border-right: 1px solid #575759;
            @include breakpoint(md){
                border: none;
            }
        }
    }
}

.counter-item-2{
    .title{
        font-family: var(--cp-ff-heading);
        font-size: 130px;
        font-weight: 600;
        line-height: 1;
        @include flex-center;
        @include breakpoint(md){
            font-size: 70px;
            margin-bottom: 0;
        }
        .odometer-auto-theme{
            line-height: 1;
            font-family: inherit;
        }
    }
    p{
        font-family: var(--cp-ff-heading);
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 0;
    }
}

/* !END: Counter CSS */
