@use "../utilities" as *;

/**----------------------------------------
    START: Exp CSS
----------------------------------------*/

.exp-img-wrap{
    position: relative;
    max-width: 670px;
    width: 100%;
    height: 600px;
    margin-left: -100px;
    @include breakpoint(xxl){
        margin-left: 0;
    }
    @include breakpoint(md){
        height: 450px;
        margin-bottom: 40px;
    }
    .exp-img-1{
        max-width: 350px;
        width: 100%;
        height: 600px;
        position: absolute;
        top: 0;
        left: 0;
        @include breakpoint(md){
            height: 450px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .exp-img-2{
        position: absolute;
        top: 63px;
        right: -24px;
        max-width: 296px;
        width: 100%;
        height: 250px;
        @include breakpoint(xxl){
            right: 0;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .exp-img-3{
        position: absolute;
        bottom: 63px;
        right: 23px;
        max-width: 250px;
        width: 100%;
        height: 200px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .video-btn{
        border: 1px solid var(--cp-color-common-white);
        height: 160px;
        width: 160px;
        border-radius: 50%;
        @include flex-center;
        position: absolute;
        top: 53%;
        left: 56%;
        transform: translate(-50%, -50%);
        z-index: 2;
        a{
            background-color: var(--cp-color-common-white);
            color: var(--cp-color-heading-primary);
            height: 120px;
            width: 120px;
            border-radius: 50%;
            @include flex-center;
            font-size: 30px;
        }
    }
}

/* !END: Exp CSS */
