@use "../utilities" as *;

/**----------------------------------------
START: Footer CSS
----------------------------------------*/
.footer-section {
    background-color: var(--cp-color-bg-1);
    position: relative;
    z-index: 1;
    padding-top: 80px;
}

.footer-top{
    @include flex-vertical-center;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    @include breakpoint(sm){
        column-gap: 20px;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .footer-title{
        color: var(--cp-color-common-white);
        font-size: 62px;
        font-weight: 400;
        margin-bottom: 0;
        @include breakpoint(md){
            br{
                display: none;
            }
        }
        @include breakpoint(sm){
            font-size: 38px;
        }
    }
    .footer-top-btn{
        .cp-primary-btn{
            &:before{
                background-color: var(--cp-color-common-white);
            }
            &:hover{
                color: var(--cp-color-heading-primary);
            }
        }
    }
}


.footer-wrap{
    padding: 100px 0;
    @include breakpoint(md){
        padding: 80px 0 0 0;
    }
}

.footer-widget {
    @include breakpoint(md) {
        margin-bottom: 80px;
    }
    @include breakpoint(sm){
        margin-bottom: 50px;
    }
    .widget-header {
        margin-bottom: 30px;
        .footer-logo{
            max-width: 183px;
        }
        .widget-title{
            color: var(--cp-color-common-white);
            font-size: 28px;
            font-weight: 600;
            position: relative;
        }
    }
    p{
        color: #D9E4E3;
        font-size: 18px;
    }
    .title{
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 30px;
        text-transform: uppercase;
        span{
            color: var(--cp-color-text-body);
            display: block;
            margin-top: 10px;
            text-transform: inherit;
            font-weight: 400;
        }
    }
    .footer-list {
        list-style: none;
        li {
            color: rgba(255, 255, 255, 0.8);
            a {
                font-family: var(--cp-ff-body);
                color: rgba(255, 255, 255, 0.8);
                font-size: 18px;
                font-weight: 400;
                line-height: 1;
                &:hover {
                    color: var(--cp-color-theme-primary);
                }
            }
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
    }
    .footer-form{
        position: relative;
        margin-top: 30px;
        .form-control{
            background-color: #14544B;
            padding: 17px 64px 17px 25px;
            color: #D9E4E3;
            box-shadow: none;
            border: none;
            border-radius: 8px;
                @include tp-placeholder{
                    color: #D9E4E3;
            }
        }
        .submit{
            background-color: var(--cp-color-theme-primary);
            color: var(--cp-color-text-black);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            height: 100%;
            font-size: 16px;
            font-weight: 500;
            border-radius: 8px;
            height: 58px;
            width: 58px;
            @include flex-center;

        }
    }
    .address-list {
        list-style: none;
        margin-bottom: 30px;
        li {
            font-family: var(--cp-ff-body);
            font-size: 16px;
            color: #E7E7E7;
            display: flex;
            column-gap: 10px;
            &:not(:last-of-type) {
                margin-bottom: 15px;
            }
            i {
                color: var(--cp-color-theme-primary);
                line-height: 1;
                margin-top: 6px;
            }
            a {
                border-bottom: 1px solid transparent;
                &:hover {
                    color: var(--cp-color-theme-primary);
                    border-bottom: 1px solid var(--cp-color-theme-primary)
                }
            }
        }
    }
    .social-list {
        @include flex-vertical-center;
        list-style: none;
        li {
            a {
                background-color: var(--cp-color-common-white);
                color: var(--cp-color-heading-primary);
                font-size: 14px;
                height: 44px;
                width: 44px;
                border-radius: 50%;
                display: block;
                @include flex-center;
                &:hover {
                    background-color: var(--cp-color-theme-primary);
                    color: var(--cp-color-text-black);
                }
            }
            &:not(:last-of-type) {
                margin-right: 10px;
            }
        }
    }
    .form-check{
        margin-top: 30px;
        .form-check-input{
            background-color: #14544B;
            border: none;
            box-shadow: none;
            height: 17px;
            width: 17px;
            &:checked[type=checkbox]{
                box-shadow: none;
            }
        }
        .form-check-label{
            color: #D9E4E3;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
        }
    }
    &.footer-col-2{
        padding-left: 70px;
        @include breakpoint(md){
            padding-left: 0;
        }
        .footer-list{
            li{
                a{
                    position: relative;
                    &:before{
                        background-image: none;
                        font-family: "Font Awesome 6 Pro";
                        font-size: 14px;
                        font-weight: 700;
                        content: "\f054";
                        color: var(--cp-color-text-body);
                        position: absolute;
                        top: 55%;
                        left: 0;
                        transform: translateY(-50%);
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;
                        visibility: hidden;
                        opacity: 0;
                    }
                    &:hover{
                        visibility: visible;
                        opacity: 1;
                        padding-left: 15px;
                        &:before{
                            color: var(--cp-color-theme-primary);
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &.widget-3{
        padding-left: 30px;
        @include breakpoint(md){
            padding-left: 0;
        }
    }
}


.copyright-area{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 40px 0;
    @include breakpoint(md){
        padding: 40px 0
    }
}

.copyright-content {
    align-items: center;
    @include breakpoint(md) {
        margin-top: 0;
    }
    @include breakpoint(sm) {
        row-gap: 20px;
    }
    p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 18px;
        font-family: var(--cp-ff-body);
        margin: 0;
        span {
            color: var(--cp-color-theme-primary);
        }
        @include breakpoint(sm){
            text-align: center;
        }
    }
    .social-list {
        @include flex-vertical-center;
        justify-content: end;
        list-style: none;
        @include breakpoint(sm){
            justify-content: center;
        }
        li {
            a {
                background-color: var(--cp-color-border-1);
                color: var(--cp-color-common-white);
                font-size: 13px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                display: block;
                @include flex-center;
                &:hover {
                    background-color: var(--cp-color-theme-primary);
                    color: var(--cp-color-common-white);
                }
            }
            &:not(:last-of-type) {
                margin-right: 10px;
            }
        }
    }
    .copyright-list{
        list-style: none;
        @include flex-vertical-center;
        column-gap: 20px;
        justify-content: end;
        @include breakpoint(sm){
            justify-content: center;
        }
        a{
            color: rgba(255, 255, 255, 0.8);
            font-size: 18px;
            font-weight: 400;
            &:hover{
                color: var(--cp-color-theme-primary);
            }
        }
    }
}



/* !END: Theme Footer CSS */
