@use "../utilities" as *;

/**----------------------------------------
    START: Page Header CSS
----------------------------------------*/
.page-header{
    @include background;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    .overlay{
        background: #004037;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.5;
    }
    .page-header-content{
        padding: 235px 0 145px 0;
        position: relative;
        z-index: 2;
        text-align: center;
        @include breakpoint(md){
            padding: 180px 0 100px 0;
        }
        .title{
            color: var(--cp-color-common-white);
            font-size: 100px;
            font-weight: 500;
            line-height: 1;
            margin-bottom: 20px;
            display: inline-block;
            position: relative;
            z-index: 1;
            @include breakpoint(sm){
                line-height: 1.3em;
            }
            @include breakpoint(md){
                font-size: 48px;
                line-height: 1;
                margin-bottom: 20px;
            }
            @include breakpoint(sm){
                font-size: 38px;
                line-height: 1;
                margin-bottom: 10px;
            }
        }
        .sub-title{
            font-family: var(--cp-ff-body);
            font-size: 22px;
            font-weight: 400;
            text-transform: capitalize;
            display: none;
            @include breakpoint(sm){
                font-size: 15px;
            }
            .home{
                color: #FEFEFE;
                position: relative;
                padding-right: 15px;
                margin-right: 10px;
                &:hover{
                    color: var(--cp-color-theme-primary);
                }
                &:before{
                    background-image: none;
                    font-family: "Font Awesome 6 Pro";
                    font-size: 13px;
                    font-weight: 700;
                    content: "-";
                    color: var(--cp-color-text-body);
                    position: absolute;
                    top: 60%;
                    right: 3px;
                    transform: translateY(-50%);
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                }
            }
            a{
                @include breakpoint(sm){
                    line-height: 2;
                }
            }
        }
        .inner-page{
            color: var(--cp-color-theme-primary);
            cursor: inherit;
        }
    }
}

/* !END: Page Header CSS */
