@use "../utilities" as *;

/**----------------------------------------
    START: Preloader CSS
----------------------------------------*/

.preloader span {
    font-size: 80px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    overflow-x: hidden;
}

.site-name {
    background-color: #111;
}

.preloader-gutters {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
}

.preloader-overlay {
    background-color: #111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transform: translateX(-100%);
    opacity: 0.2;
}

.preloader {
    width: 100%;
    height: 100vh;
    position: relative;
    --preloader-clip: 0;
    clip-path: inset(0 0 0 var(--preloader-clip));
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.site-name {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    span{
        @include breakpoint(sm){
            font-size: 40px;
        }
    }
}

.preloader-gutters .bar {
    width: 12.5%;
    height: 100%;
    background:transparent;
    position: relative;
}

.preloader-gutters .inner-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--cp-color-common-white);
}

/* !END: Preloader CSS */
