@use "../utilities" as *;

/**----------------------------------------
    START: Project CSS
----------------------------------------*/

.project-section{
    overflow-x: clip;
}

.project-carousel{
    max-width: 800px;
    width: 100%;
    overflow: visible;
}


.project-item{
    position: relative;
    .project-thumb{
        height: 550px;
        position: relative;
        @include breakpoint(sm){
            height: 350px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
        .overlay{
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            @include transition(all 0.3s ease-in-out);
            border-radius: 8px;
        }
    }
    .project-content{
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50% , -50%);
        width: 100%;
        visibility: hidden;
        opacity: 0;
        @include transition(all 0.3s ease-in-out);
        .project-btn{
            a{
                background-color: var(--cp-color-theme-primary);
                color: var(--cp-color-text-black);
                height: 60px;
                width: 60px;
                border-radius: 50%;
                @include flex-center;
                margin: 0 auto;
                margin-bottom: 20px;
                i{
                    transform: rotate(-45deg);
                }
                &:hover{
                    background-color: var(--cp-color-common-white);
                }
            }
        }
        .title{
            color: var(--cp-color-common-white);
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 10px;
            text-transform: capitalize;
        }
        span{
            color: #C5C5C7;
            font-size: 16px;
            font-weight: 700;
        }
    }
    &:hover{
        .project-thumb{
            .overlay{
                visibility: visible;
                opacity: 1;
            }
        }
        .project-content{
            top: 50%;
            visibility: visible;
            opacity: 1;
        }
    }
}

// Project 2

.project-item-2{
    .project-thumb{
        height: 600px;
        margin-bottom: 30px;
        overflow: hidden;
        @include breakpoint(md){
            height: 350px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transition(all 0.3s ease-in-out);
        }
    }
    .project-content{
        .title{
            font-size: 36px;
            font-weight: 500;
            display: inline-block;
            line-height: 1;
            margin-bottom: 15px;
            a{
                color: var(--cp-color-heading-primary);
                position: relative;
                &:before{
                    background-color: var(--cp-color-heading-primary);
                    content: "";
                    width: 0;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    @include transition(all 0.3s ease-in-out);
                }
                &:hover{
                    &:before{
                        width: 100%;
                    }
                }
            }
        }
        span{
            font-family: var(--cp-ff-heading);
            display: block;
            font-size: 18px;
            font-weight: 600;
        }
    }
    &:hover{
        .project-thumb{
            img{
                transform: scale(1.02);
            }
        }
    }
}

// Project 3

.project-item-3{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    .project-thumb{
        height: 600px;
        position: relative;
        .overlay{
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            @include transition(all 0.3s ease-in-out);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .project-content{
        background-color: var(--cp-color-theme-primary);
        position: absolute;
        bottom: -10px;
        left: 0;
        padding: 30px;
        border-radius: 8px 8px 0 0;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        @include transition(all 0.3s ease-in-out);
        .title{
            font-size: 28px;
            font-weight: 600;
            a{
                color: var(--cp-color-heading-primary);
            }
        }
        span{
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    &:hover{
        .project-thumb{
            .overlay{
                visibility: visible;
                opacity: 1;
            }
        }
        .project-content{
            bottom: 0;
            visibility: visible;
            opacity: 1;
        }
    }
}

.project-inner-wrap{
    .project-item-3{
        height: 470px;
    }
}


// Project Details

.project-details-img{
    height: 500px;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 8px;
    @include breakpoint(md){
        height: 400px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}

.project-details-content{
    .project-details-title{
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .details-title{
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 20px;
        @include breakpoint(md){
            font-size: 40px;
            margin-bottom: 20px;
        }
        @include breakpoint(sm){
            font-size: 30px;
        }
    }
    .details-title-2{
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 20px;
        @include breakpoint(md){
            font-size: 30px;
            margin-bottom: 20px;
        }
        @include breakpoint(sm){
            font-size: 26px;
        }
        span{
            font-family: "NewYork", sans-serif;
            font-weight: 200;
        }
    }
    p{
        color: var(--cp-color-text-body);
        font-size: 18px;
        font-weight: 400;
        @include breakpoint(sm){
            font-size: 15px;
        }
    }
    .project-details-thumb-wrap{
        @include flex-vertical-center;
        column-gap: 24px;
        margin: 60px 0;
        margin-top: 65px;
        @include breakpoint(md){
            margin: 40px 0;
        }
        @include breakpoint(sm){
            flex-direction: column;
            row-gap: 24px;
        }
        .project-details-thumb{
            height: 320px;
            width: 100%;
            border-radius: 8px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }
}

.project-meta-box{
    background-color: var(--cp-color-grey-1);
    padding: 30px;
    border-radius: 8px;
    .project-meta-title{
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .project-meta{
        &:not(:last-of-type){
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #C5C5C7;
        }
        span{
            font-family: var(--cp-ff-heading);
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
            display: block;
        }
        .title{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 0;
            line-height: 1.4;
        }
    }
}

/* !END: Project CSS */
