@use "../utilities" as *;

/**----------------------------------------
    START: Page Header CSS
----------------------------------------*/

.promo-left-content{
    max-width: 788px;
    width: 100%;
    .promo-img{
        max-width: 788px;
        width: 100%;
        height: 320px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .img-overlay{
            background-color: var(--cp-color-common-white);
        }
    }
}

.promo-item-wrap{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    @include breakpoint(md){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
    }
    @include breakpoint(sm){
        grid-template-columns: 1fr;
    }
    .promo-item{
        background-color: #F4F4F4;
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-gap: 20px;
        border: 1px solid #D9E4E3;
        padding: 40px 30px;
        border-radius: 8px;
        @include transition(all 0.3s ease-in-out);
        overflow: hidden;
        @include breakpoint(lg){
            grid-template-columns: 1fr;
            grid-gap: 0;
        }
        &:not(:last-of-type){
            margin-bottom: 30px;
            @include breakpoint(md){
                margin-bottom: 0;
            }
        }
        .icon{
            background-color: var(--cp-color-bg-1);
            color: var(--cp-color-common-white);
            height: 32px;
            width: 32px;
            border-radius: 50%;
            @include flex-center;
            @include breakpoint(lg){
                margin-bottom: 20px;
            }
        }
        .title{
            font-size: 24px;
            font-weight: 600;
            text-transform: inherit;
            @include transition(all 0.3s ease-in-out);
        }
        p{
            font-size: 20px;
            color: #575759;
            @include transition(all 0.3s ease-in-out);
            margin-bottom: 0;
        }
    }
}


// Promo 2

.promo-img-3{
    max-width: 490px;
    width: 100%;
    height: 618px;
    @include breakpoint(md){
        max-width: 100%;
        height: 450px;
        margin-bottom: 40px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.promo-item-wrap-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 28px;
    @include breakpoint(sm){
        grid-template-columns: 1fr;
    }
    .promo-item-3{
        .icon{
            color: var(--cp-color-heading-primary);
            height: 44px;
            width: 44px;
            @include flex-center;
            border-radius: 50%;
            border: 1px solid rgba(0, 64, 55, 0.2);
            margin-bottom: 20px;
        }
        .title{
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        p{
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 0;
            @include breakpoint(lg){
                br{
                    display: none;
                }
            }
        }
    }
}


/* !END: Page Header CSS */
