@use "../utilities" as *;

/**----------------------------------------
    START: Service CSS
----------------------------------------*/

.service-top{
    .swiper-arrow{
        @include flex-vertical-center;
        column-gap: 10px;
        .swiper-nav{
            background-color: var(--cp-color-theme-primary);
            color: var(--cp-color-text-black);
            height: 56px;
            width: 56px;
            @include flex-center;
            border-radius: 50%;
            @include transition(all 0.3s ease-in-out);
            &:hover{
                background-color: var(--cp-color-bg-1);
                color: var(--cp-color-common-white);
            }
        }
    }
}

.service-item{
    background-color: #F4F4F4;
    height: auto;
    padding: 48px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border: 1px solid #C5C5C7;
    @include transition (all 0.3s ease-in-out);
    @include breakpoint(lg){
        padding: 40px 20px;
    }
    .icon{
        color: var(--cp-color-bg-1);
        margin-bottom: 180px;
        @include transition (all 0.3s ease-in-out);
    }
    &:before{
        background-color: var(--cp-color-bg-1);
        content: "";
        width: 100%;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        @include transition (all 0.3s ease-in-out);
    }
    .service-content{
        .title{
            color: var(--cp-color-text-black);
            font-size: 28px;
            line-height: 1;
            margin-bottom: 15px;
            font-weight: 500;
            text-transform: capitalize;
            @include transition (all 0.3s ease-in-out);
            a{
                @include transition (all 0s ease-in-out);
            }
            span{
                font-family: "NewYork", sans-serif;
                font-weight: 400;
            }
        }
        p{
            color: var(--cp-color-text-black);
            font-size: 18px;
            margin-bottom: 0;
            @include transition (all 0.3s ease-in-out);
            br{
                display: none;
            }
        }
    }
    
    &:hover{
        border: 1px solid transparent;
        &:before{
            height: 100%;
        }
        .icon{
            img{
                filter: invert(0) brightness(1);
            }
            color: var(--cp-color-theme-primary);
        }
        .service-content{
            .title{
                color: var(--cp-color-common-white);
                a{
                    color: var(--cp-color-common-white);
                }
            }
            p{
                color: var(--cp-color-common-white);
            }
        }
    }
}

// Service 2

.service-content-left{
    max-width: 600px;
    width: 100%;
    @include breakpoint(md){
        margin-bottom: 40px;
    }
    .service-left-img{
        max-width: 600px;
        width: 100%;
        height: 350px;
        border-radius: 8px;
        margin-top: 70px;
        @include breakpoint(md){
            margin-top: 40px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}

.service-item-2{
    height: auto;
    &:not(:last-of-type){
        margin-bottom: 24px;
    }
    &:before{
        background-color: var(--cp-color-theme-primary);
    }
    .icon{
        margin-bottom: 100px;
    }
    .service-content{
        .title{
            color: var(--cp-color-heading-primary);
            font-size: 36px;
        }
        p{
            color: var(--cp-color-heading-primary);
        }
    }
    &:hover{
        border: 1px solid var(--cp-color-theme-primary);
        .service-content{
            .title{
                color: var(--cp-color-heading-primary);
                a{
                    color: var(--cp-color-heading-primary);
                }
            }
            p{
                color: var(--cp-color-heading-primary);
            }
        }
    }
}


// Service 3

.service-accordion{
    .accordion-item{
        background-color: transparent;
        border: none;
        padding: 0;
        &:not(:last-of-type){
            margin-bottom: 45px;
        }
        .accordion-button{
            background-color: transparent;
            color: var(--cp-color-common-white);
            border: none;
            box-shadow: none;
            padding: 0;
            font-size: 48px;
            font-weight: 500;
            padding-bottom: 45px;
            border-bottom: 1px solid transparent;
            @include breakpoint(sm){
                font-size: 20px;
            }
            span{
                padding-right: 280px;
                @include breakpoint(lg){
                    padding-right: 100px;
                }
                @include breakpoint(sm){
                    padding-right: 40px;
                }
            }
            &:after{
                color: var(--cp-color-theme-primary);
                background-image: none;
                font-family: "Font Awesome 6 Pro";
                font-size: 40px;
                font-weight: 400;
                content: "\f178";
                transform: rotate(0);
                @include breakpoint(xl){
                    position: absolute;
                    right: 40px;
                }
                @include breakpoint(sm){
                    font-size: 25px;
                }
            }
            &.collapsed{
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                &:after{
                    color: var(--cp-color-common-white);
                    transform: rotate(-45deg);
                }
            }
        }
        .accordion-body{
            padding: 0;
            padding-left: 325px;
            display: grid;
            grid-template-columns: 536px 1fr;
            grid-gap: 60px;
            @include breakpoint(lg){
                padding-left: 145px;
            }
            @include breakpoint(md){
                padding-left: 0px;
                grid-template-columns: 350px 1fr;
            }
            @include breakpoint(sm){
                grid-template-columns: 1fr;
            }
            .accordion-img{
                max-width: 536px;
                width: 100%;
                height: 300px;
                @include breakpoint(md){
                    max-width: 350px;
                }
                @include breakpoint(sm){
                    max-width: 350px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
            .content{
                height: 300px;
                @include flex-vertical-center;
                flex-direction: column;
                justify-content: space-between;
                align-items: baseline;
                @include breakpoint(sm){
                    height: 200px;
                }
                p{
                    color: #C5C5C7;
                    font-size: 20px;
                    font-weight: 400;
                    max-width: 380px;
                    width: 100%;
                }
                .accordion-btn{
                    .cp-primary-btn{
                        background-color: var(--cp-color-theme-primary);
                        color: var(--cp-color-heading-primary);
                        border-radius: 8px;
                        &:hover{
                            color: var(--cp-color-heading-primary);
                        }
                        &:before{
                            background-color: var(--cp-color-common-white);
                        }
                    }
                }
            }
        }
    }
}

// Service Details

.service-details-img{
    height: 650px;
    margin-bottom: 40px;
    @include breakpoint(sm){
        height: 400px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.service-details-content{
    .details-title{
        font-size: 64px;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 20px;
        @include breakpoint(md){
            font-size: 50px;
        }
        @include breakpoint(sm){
            font-size: 40px;
        }
        span{
            font-family: "NewYork", sans-serif;
        }
    }
    p{
        font-size: 18px;
        font-weight: 400;
    }
    .service-details-item-wrap{
        position: relative;
        margin: 0;
        margin-top: 60px;
        margin-bottom: 60px;
        @include breakpoint(md){
            margin-top: 40px;
        }
        &>div{
            padding: 0;
        }
        .line{
            background-color: #3F3F2C;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 125px;
            left: 0;
            opacity: 0.3;
            @include breakpoint(md){
                display: none;
            }
        }
        .service-details-item{
            margin-top: 0px;
            position: relative;
            @include breakpoint(md){
                margin-top: 0;;
            }
            .dot-shape{
                background-color: var(--cp-color-heading-primary);
                height: 10px;
                width: 10px;
                border-radius: 50%;
                position: absolute;
                top: 121.5px;
                left: 0;
                @include breakpoint(md){
                    display: none;
                }
            }
            .number{
                font-family: var(--cp-ff-heading);
                color: var(--cp-color-heading-primary);
                font-size: 64px;
                font-weight: 500;
                opacity: 0.2;
                margin-bottom: 70px;
                display: block;
            }
            .title{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 15px;
            }
            p{
                color: var(--cp-color-text-body);
                font-size: 18px;
                margin-bottom: 0;
            }
        }
    }
    .details-title-2{
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 20px;
        @include breakpoint(sm){
            font-size: 30px;
        }
    }
    .service-details-thumb-wrap{
        @include flex-vertical-center;
        column-gap: 24px;
        margin: 40px 0;
        @include breakpoint(sm){
            flex-direction: column;
            row-gap: 24px;
        }
        .service-details-thumb{
            height: 400px;
            max-width: 415px;
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* !END: Service CSS */
