@use "../utilities" as *;

/**----------------------------------------
    START: Team CSS
----------------------------------------*/

.team-container{
    max-width: 1575px;
}

.team-item{
    .team-thumb{
        background-color: var(--cp-color-common-white);
        height: 370px;
        margin-bottom: 25px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        .overlay{
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            @include transition(all 0.3s ease-in-out);
            visibility: hidden;
            opacity: 0;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .team-social{
            position: absolute;
            bottom: 40px;
            right: 40px;
            z-index: 2;
            list-style: none;
            visibility: hidden;
            opacity: 0;
            @include transition(all 0.3s ease-in-out);
            li{
                @include transition(all 0.3s ease-in-out);
                &:not(:last-of-type){
                    margin-bottom: 5px;
                }
                a{
                    background-color: var(--cp-color-common-white);
                    color: var(--cp-color-heading-primary);
                    height: 50px;
                    width: 50px;
                    @include flex-center;
                    border-radius: 50%;
                    &:hover{
                        background-color: var(--cp-color-theme-primary);
                        color: var(--cp-color-text-black);
                    }
                }
            }
        }
    }
    .title{
        font-size: 28px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 15px;
    }
    span{
        display: block;
        line-height: 1;
        font-weight: 500;
    }
    &:hover{
        .team-thumb{
            .overlay{
                visibility: visible;
                opacity: 1;
            }
            .team-social{
                visibility: visible;
                opacity: 1;
                li{
                    &:not(:last-of-type){
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

.team-skill-content{
    .team-skill-title{
        font-size: 62px;
        font-weight: 400;
    }
    .team-skill-item-wrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin-bottom: 55px;
        .skills-item{
            margin-bottom: 0;
            &:not(:last-of-type){
                margin-bottom: 0;
            }
        }
    }
}


// Team Details

.team-details-img{
    background-color: var(--cp-color-grey-1);
    max-width: 580px;
    width: 100%;
    height: 620px;
    border-radius: 8px;
    @include breakpoint(sm){
        height: 450px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.team-details-content{
    max-width: 670px;
    width: 100%;
    @include breakpoint(md){
        margin-top: 50px;
    }
    p{
        font-size: 18px;
        @include breakpoint(sm){
            font-size: 15px;
        }
    }
    .name{
        font-size: 48px;
        font-weight: 500;
        @include breakpoint(sm){
            font-size: 38px;
        }
    }
    .prof{
        font-family: var(--cp-ff-heading);
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 30px;
        display: block;
    }
    .team-details-list{
        margin-top: 40px;
        padding-top: 40px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        list-style: none;
        li{
            font-family: var(--cp-ff-heading);
            color: var(--cp-color-heading-primary);
            font-size: 18px;
            font-weight: 500;
            @include breakpoint(sm){
                font-size: 14px;
            }
            &:not(:last-of-type){
                margin-bottom: 10px;
            }
            span{
                display: inline-block;
                &:nth-child(1){
                    width: 137px; 
                    @include breakpoint(sm){
                        width: 100px;
                    }
                }
                &:nth-child(2){
                    width: 65px; 
                    @include breakpoint(sm){
                        width: 30px;
                    }
                }
            }
        }
    }
    .team-portfolio{
        margin-top: 40px;
        margin-bottom: 40px;
        .port-title{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .team-portfolio-list{
            list-style: none;
            @include breakpoint(sm){
                @include flex-vertical-center;
                flex-wrap: wrap;
                row-gap: 10px;
            }
            li{
                display: inline-flex;
                align-items: center;
                &:not(:last-of-type){
                    margin-right: 10px;
                }
                a{
                    background-color: var(--cp-color-bg-1);
                    font-family: var(--cp-ff-p);
                    color: var(--cp-color-common-white);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1;
                    padding: 8px 20px;
                    border-radius: 100px;
                }
            }
        }
    }
    .team-details-info{
        &:not(:last-of-type){
            margin-bottom: 40px;
        }
        .info-title{
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 25px;
        }
        p{
            margin-bottom: 0;
        }
        .skills-items{
            margin-top: 35px;
            .skills-item{
                .title{
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }
}

/* !END: Team CSS */
