@use "../utilities" as *;

/**----------------------------------------
    START: Testimonial CSS
----------------------------------------*/

.testi-top{
    .swiper-arrow{
        @include flex-vertical-center;
        column-gap: 10px;
        .swiper-nav{
            background-color: var(--cp-color-theme-primary);
            color: var(--cp-color-heading-primary);
            height: 56px;
            width: 56px;
            @include flex-center;
            border-radius: 50%;
            @include transition(all 0.3s ease-in-out);
            &:hover{
                background-color: var(--cp-color-bg-1);
                color: var(--cp-color-common-white);
            }
        }
    }
}

.testi-item{
    background-color: #3B3B3B;
    padding: 40px 40px;
    border-radius: 8px;
    @include breakpoint(sm){
        padding: 40px 20px;
    }
    .icon{
        margin-bottom: 40px;
    }
    p{
        font-family: var(--cp-ff-secondary);
        font-size: 18px;
        font-weight: 500;
        line-height: 1.6;
        margin-bottom: 40px;
        font-style: italic;
        text-transform: capitalize;
    }
    .testi-author-box{
        @include flex-vertical-center;
        justify-content: space-between;
        column-gap: 20px;
        flex-wrap: wrap;
        row-gap: 20px;
        .testi-author{
            .author-thumb{
                height: 60px;
                width: 60px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .content{
                margin-bottom: 20px;
                .name{
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 5px;
                }
                span{
                    line-height: 1;
                }
            }
        }
    }
}

.testi-left-content{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .testi-client-wrap{
        max-width: 450px;
        width: 100%;
        margin-bottom: 30px;
        .testi-author-list{
            @include flex-vertical-center;
            li{
                height: 56px;
                width: 56px;
                @include flex-center;
                border-radius: 50%;
                border: 3px solid var(--cp-color-common-white);
                &:not(:first-of-type){
                    margin-left: -20px;
                }
                &.icon{
                    background-color: var(--cp-color-theme-primary);
                    color: var(--cp-color-text-black);
                }
            }
        }
        .desc{
            font-family: var(--cp-ff-heading);
            color: #AFAFAF;
            font-size: 20px;
            font-weight: 500;
        }
    }
    .swiper-arrow{
        @include flex-vertical-center;
        column-gap: 10px;
        .swiper-nav{
            background-color: var(--cp-color-theme-primary);
            color: var(--cp-color-text-black);
            height: 56px;
            width: 56px;
            @include flex-center;
            border-radius: 50%;
            @include transition(all 0.3s ease-in-out);
            &:hover{
                background-color: var(--cp-color-common-white);
            }
        }
    }
}

.testi-item-wrap{
    display: grid;
    align-items: center;
    grid-template-columns: 340px 1fr;
    grid-gap: 60px;
    @include breakpoint(lg){
        grid-gap: 30px;
    }
    @include breakpoint(md){
        margin-top: 40px;
    }
    @include breakpoint(sm){
        grid-template-columns: 1fr;
    }
    .testi-author-img{
        max-width: 340px;
        width: 100%;
        height: 350px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
    .testi-item{
        background-color: transparent;
        padding: 0;
        border: none;
        max-width: 490px;
        width: 100%;
        .icon{
            margin-bottom: 20px;
        }
        p{
            font-family: var(--cp-ff-secondary);
            color: #575759;
            font-size: 24px;
            font-style: inherit;
            font-weight: 400;
            @include breakpoint(xl){
                font-size: 22px;
            }
            @include breakpoint(lg){
                font-size: 20px;
            }
        }
        .testi-author-box{
            .testi-author{
                grid-template-columns: 1fr;
                .name{
                    color: var(--cp-color-heading-primary);
                    font-size: 24px;
                    font-weight: 500;
                }
                span{
                    color: #555855;
                }
            }
        }
    }
}

// Testi 2

.testi-carousel-2{
    max-width: 1064px;
    width: 100%;
    margin-left: 0;
    overflow: visible;
}

.testi-item-2{
    background-color: var(--cp-color-grey-1);
    padding: 48px;
    border-radius: 8px;
    @include breakpoint(lg){
        padding: 40px 20px;
    }
    p{
        color: var(--cp-color-heading-primary);
        font-size: 24px;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 50px;
        max-width: 424px;
        width: 100%;
    }
    .testi-author-box{
        .testi-author{
            .content{
                margin-bottom: 0;
            }
            .name{
                font-size: 24px;
                font-weight: 500;
            }
            span{
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
            }
        }
    }
}

// Testi 3

.testi-carousel-wrap-3{
    .testi-carousel-2{
        overflow: hidden;
    }
}

.testi-arrow-wrap{
    background-color: var(--cp-color-grey-1);
    height: 100%;
    padding: 48px;
    text-align: center;
    @include flex-vertical-center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
    @include breakpoint(md){
        margin-bottom: 24px;
    }
    @include breakpoint(sm){
        padding: 40px 20px;
    }
    .testi-counter-item{
        .title{
            font-family: var(--cp-ff-heading);
            font-size: 84px;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 1;
            @include flex-center;
            .odometer-auto-theme{
                line-height: 1;
                font-family: inherit;
            }
        }
        p{
            font-family: var(--cp-ff-heading);
            color: var(--cp-color-heading-primary);
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
}

/* !END: Testimonial CSS */
