$colors: (
    "common": (
        "white": #ffffff,
        "black": #000000,
    ),
    "heading": (
        "primary": #004037,
    ),
    "text": (
        "body": #575759,
        "black": #111111,
    ),
    "theme": (
        "primary": #89EA5F,
    ),
    "bg": (
        "1": #004037,
        "2": #222,
    ),
    "grey": (
        "1": #F4F4F4,
    ),
    "border": (
        "1": #5F5F5F,
    ),
);
