// Font URL
$font-url: "https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap";

//Font Family
$font-family: (
    "ff": (
        "body": "'Aeonik TRIAL', sans-serif",
        "heading": "'DM Sans', serif",
        "p": "'Aeonik TRIAL', sans-serif",
        "secondary": "'DM Sans', sans-serif",
    ),
);

// Font Weight
$font-scale: (
    "fw": (
        "normal": normal,
        "thin": 100,
        "elight": 200,
        "light": 300,
        "regular": 400,
        "medium": 500,
        "sbold": 600,
        "bold": 700,
        "ebold": 800,
        "black": 900,
    ),
);

// Font Size
$font-size: (
    "fs": (
        "body": 16,
        "p": 16,
        "h1": 65,
        "h2": 48,
        "h3": 28,
        "h4": 20,
        "h5": 18,
        "h6": 14,
    ),
);
